aside.test {
    background-color: var(--bg-dark);
    display: flex;
    justify-content:center;
    align-items: center;
    

    height: 90vh;
    background: #000;
}

aside .slider {
    height: 100% !important;
    width: 100% !important;
    
}

aside .slider  div{
    height: 100% !important;
    width: 100% !important;
    
}