aside.test {
    background-color: var(--bg-dark);
    display: flex;
    justify-content:center;
    align-items: center;
    margin-left: 0px;

    height: 90vh;
    background: #000;
}

aside .slider {
    height: 100% !important;
    width: 100% !important;
}

aside .slider img {
    width: 100% !important;
    height: 100% !important;
}
